<template>
  <div>{{ msg }}</div>
</template>

<script>
/**
 * Error 404 component
 */
export default {
  name: 'Http404',
  data () {
    return {
      msg: 'Error 404'
    }
  }
}
</script>

<style scoped>

</style>
