<template>
  <div id="map" />
</template>

<script>
import 'ol/ol.css'
import {Map, View} from 'ol'
import TileLayer from 'ol/layer/Tile'
import OSM from 'ol/source/OSM'
import VectorLayer from 'ol/layer/Vector'
import VectorSource from 'ol/source/Vector'
import Collection from 'ol/Collection'
import Feature from 'ol/Feature'
import Point from 'ol/geom/Point'
import {fromLonLat} from 'ol/proj'
import {Icon, Style, Text, Fill, Stroke} from 'ol/style'
import GeoJSON from 'ol/format/GeoJSON'
import centroid from '@turf/centroid'
import icon from '../assets/icon.png'

// GeoJSON parser
const format = new GeoJSON({
  featureProjection: 'EPSG:3857'
})
// Feature styles
const styles = {
  // Point
  Point: new Style({
    image: new Icon({
      anchor: [0.5, 1],
      anchorXUnits: 'fraction',
      anchorYUnits: 'fraction',
      src: icon,
      scale: 0.5
    }),
    text: new Text({
      font: '12px Calibri,sans-serif',
      text: '',
      offsetX: 0,
      offsetY: -50,
      fill: new Fill({
        color: '#000'
      }),
      stroke: new Stroke({
        color: '#fff',
        width: 3
      })
    })
  }),
  // Polygon
  Polygon: new Style({
    stroke: new Stroke({
      color: 'blue',
      width: 1
    }),
    fill: new Fill({
      color: 'rgba(0, 0, 255, 0.1)'
    }),
    text: new Text({
      font: '12px Calibri,sans-serif',
      text: '',
      overflow: true,
      fill: new Fill({
        color: '#000'
      }),
      stroke: new Stroke({
        color: '#fff',
        width: 3
      })
    })
  }),
  // Highlighted
  selected: new Style({
    stroke: new Stroke({
      color: 'red',
      width: 4
    }),
    fill: new Fill({
      color: 'rgba(255, 0, 0, 0.4)'
    })
  }),
  // color rotation
  colorRotation: {
    index: 0,
    colors: [
      [255, 0, 0],
      [0, 255, 0],
      [0, 0, 255]
    ]
  }
}
// style cache
const styleCache = {}
/**
 * Map component
 */
export default {
  name: 'MapComponent',
  data () {
    return {
      map: null,
      featureCollection: new Collection(),
      vectorSource: null,
      selected: null
    }
  },
  props: {
    features: {
      type: Array,
      default: () => []
    },
    center: {
      type: Object,
      default: () => null
    },
    highlightFeature: {
      type: Object,
      default: () => null
    }
  },
  // listen changes
  watch: {
    features: function (newVal, oldVal) {
      this.featureCollection.clear()
      const features = this.features.map(geojsonFeature => {
        return format.readFeature(geojsonFeature)
      })
      this.featureCollection.extend(features)
      this.fitTo()
    },
    center: function (newVal, oldVal) {
      this.fitTo(newVal)
    },
    highlightFeature: function (newVal, oldVal) {
      if (this.selected) {
        this.featureCollection.remove(this.selected)
        this.selected = null
      }
      if (newVal) {
        this.selected = format.readFeature(newVal)
        this.selected.setStyle(styles.selected)
        this.featureCollection.push(this.selected)
      }
    }
  },
  mounted () {
    this.vectorSource = new VectorSource({
      features: this.featureCollection
    })
    // create map
    this.map = new Map({
      target: 'map',
      layers: [
        new TileLayer({
          source: new OSM()
        }),
        new VectorLayer({
          source: this.vectorSource,
          style: (feature, resolution) => {
            const id = feature.getId()
            const label = feature.get('name')
            const geomType = feature.getGeometry().getType()
            // chack style cache
            if (styleCache[geomType + id]) {
              return styleCache[geomType + id]
            } else {
              const featureStyle = styles[geomType].clone()
              featureStyle.getText().setText(label)
              if (geomType === 'Polygon') {
                styles.colorRotation.index = styles.colorRotation.index > 1 ? 0 : styles.colorRotation.index + 1
                const color = styles.colorRotation.colors[styles.colorRotation.index]
                featureStyle.getFill().setColor('rgba(' + color.join(',') + ', 0.1)')
                featureStyle.getStroke().setColor('rgba(' + color.join(',') + ', 0.6)')
              }
              styleCache[geomType + id] = featureStyle
              return featureStyle
            }
          }
        })
      ],
      view: new View({
        center: fromLonLat(centroid(this.center)) || [0, 0],
        zoom: 7
      })
    })
  },
  methods: {
    // fit map view
    fitTo: function (geom = null) {
      let extent
      if (!geom) {
        extent = this.vectorSource.getExtent()
      } else {
        geom = format.readFeature(geom)
        extent = geom.getGeometry().getExtent()
      }
      if (extent && extent[0] !== Infinity) {
        this.map.getView().fit(extent, {
          size: this.map.getSize(),
          maxZoom: 16
        })
      }
    }
  }
}
</script>

<style scoped>
#map {
  height: 600px
}
</style>
