<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-33">
      <div class="md-layout input-box">
        <div class="md-layout-item md-size-75">
          <md-field>
            <md-input v-model="key" placeholder="API key"></md-input>
          </md-field>
        </div>
        <div class="md-layout-item md-size-25">
          <md-button class="md-raised md-primary" @click="loadData">OK</md-button>
        </div>
      </div>
      <div class="md-layout-item">
        <md-table>
          <md-table-row>
            <md-table-head>Sõiduk</md-table-head>
            <md-table-head>Kiirus</md-table-head>
            <md-table-head>Aeg</md-table-head>
          </md-table-row>

          <md-table-row v-for="vehicle in vehicles" :key="vehicle.id" @click="centerMap(vehicle.geometry)">
            <md-table-cell>{{ vehicle.properties.name }}</md-table-cell>
            <md-table-cell>{{ vehicle.properties.speed }}</md-table-cell>
            <md-table-cell>{{ timeDiff(vehicle.properties.timestamp) }}</md-table-cell>
          </md-table-row>
        </md-table>
      </div>
    </div>

    <div class="md-layout-item md-size-66">
      <map-component :features="vehicles" :center="mapCenter"/>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import MapComponent from './Map'
/**
 * One component
 */
export default {
  name: 'One',
  components: {
    MapComponent
  },
  data () {
    return {
      key: 'proovitoo1',
      vehicles: [],
      mapCenter: {
        type: 'Point',
        coordinates: [25.5, 58.5]
      }
    }
  },
  mounted () {
    // load default data
    this.loadData()
  },
  methods: {
    // load data from server
    loadData: function () {
      axios.get('/getLastData', {
        params: {
          key: this.key
        }
      })
      .then(response => {
        if (response.data.status === 0) {
          this.vehicles = response.data.data.map(vehicle => {
            return {
              type: 'Feature',
              id: vehicle.id,
              geometry: {
                type: 'Point',
                coordinates: vehicle.coordinates
              },
              properties: vehicle
            }
          })
        } else {
          this.vehicles = []
        }
      })
    },
    // find difference in time
    timeDiff: function (timestamp) {
      return moment(timestamp, moment.ISO_8601).fromNow()
    },
    // center map
    centerMap: function (geom) {
      this.mapCenter = geom
    }
  }
}
</script>

<style scoped>
.input-box {
  padding: 10px;
}
</style>
