<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-33">
      <div class="md-layout input-box">
        <div class="md-layout-item md-size-75">
          <md-field>
            <md-input v-model="selectedDate" placeholder="Insert date (yyyy-mm-dd)"></md-input>
          </md-field>
        </div>
        <div class="md-layout-item md-size-25">
          <md-button class="md-raised md-primary" @click="loadData">OK</md-button>
        </div>
      </div>
      <div class="md-layout-item">
        <md-table>
          <md-table-row>
            <md-table-head>A / B</md-table-head>
            <md-table-head v-for="vehicle in tracks" :key="vehicle.id">{{ vehicle.properties.name }}</md-table-head>
          </md-table-row>
          <md-table-row v-for="(vehicle1, i) in tracks" :key="i">
            <md-table-cell class="cursor-pointer" @click.native="centerMap(vehicle1.geometry)">{{ vehicle1.properties.name }}</md-table-cell>
            <md-table-cell class="cursor-pointer" v-for="(vehicle2, j) in tracks" :key="j" @click.native="setOverlap(vehicle1.id, vehicle2.id)">{{ getStatistics(vehicle1.id, vehicle2.id) }}%</md-table-cell>
          </md-table-row>
        </md-table>
      </div>
    </div>

    <div class="md-layout-item md-size-66">
      <map-component :features="tracks" :center="mapCenter" :highlightFeature="selectedFeature"/>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import concave from '@turf/concave'
import MapComponent from './Map'
import IntersectWorker from '../util/intersect.worker'

/**
 * Two component
 */
export default {
  name: 'Two',
  components: {
    MapComponent
  },
  data () {
    return {
      key: 'proovitoo1',
      vehicleIds: [969, 1041, 1949],
      selectedDate: '2013-02-01',
      vehicles: [],
      tracks: [],
      statistics: {},
      mapCenter: {
        type: 'Point',
        coordinates: [25.5, 58.5]
      },
      worker: null,
      selectedFeature: null
    }
  },
  mounted () {
    // set worker
    this.worker = new IntersectWorker()
    this.worker.onmessage = (event) => {
      const data = event.data
      if (data) {
        this.statistics[data.id] = data.result
        this.statistics = Object.assign({}, this.statistics)
      }
    };
    // load data
    this.loadVehicles()
  },
  methods: {
    // load vehicles for key
    loadVehicles: function () {
      axios.get('/getLastData', {
        params: {
          key: this.key
        }
      })
      .then(response => {
        if (response.data.status === 0) {
          this.vehicles = response.data.data.map(vehicle => {
            return {
              type: 'Feature',
              id: vehicle.id,
              geometry: {
                type: 'Point',
                coordinates: vehicle.coordinates
              },
              properties: vehicle
            }
          })
        } else {
          this.vehicles = []
        }
        this.loadData()
      })
    },
    // load raw data by vehicle
    loadData: function () {
      this.tracks = []
      this.vehicles.forEach(vehicle => {
        axios.get('/getRawData', {
          params: {
            key: this.key,
            objectId: vehicle.id,
            begTimestamp: this.selectedDate,
            endTimestamp: moment(this.selectedDate, 'YYYY-MM-DD').add(1, 'days').format('YYYY-MM-DD')
          }
        })
        .then(response => {
          if (response.data.status === 0) {
            const points = response.data.data.map(point => {
              return {
                type: 'Feature',
                geometry: {
                  type: 'Point',
                  coordinates: point
                }
              }
            })
            if (points.length) {
              try {
                // calculate ConcaveHull geometry from points
                const feature = concave({
                  type: 'FeatureCollection',
                  features: points
                })
                feature.id = response.data.objectId
                feature.properties = vehicle.properties
                this.tracks = this.tracks.concat([feature])
              } catch (e) {

              }
            }
          }
          this.calculateStatistics()
        })
      })
    },
    // center map
    centerMap: function (geom) {
      this.selectedFeature = null
      this.mapCenter = geom
    },
    // calculate statistics
    calculateStatistics: function () {
      if (this.worker && this.tracks.length) {
        this.tracks.forEach(feature => {
          this.worker.postMessage({
            tracks: this.tracks,
            feature: feature
          })
        })
      }
    },
    // get cell statistic
    getStatistics: function (id1, id2) {
      return (this.statistics[id1] && this.statistics[id1][id2]) ? this.statistics[id1][id2].amount : ''
    },
    // get cell overlap geometry
    setOverlap: function (id1, id2) {
      const geom =  this.statistics[id1] ? this.statistics[id1][id2].geom : null
      if (geom) {
        this.centerMap(geom)
        this.selectedFeature = geom
      }
    }
  }
}
</script>

<style scoped>
.input-box {
  padding: 10px;
}
.cursor-pointer {
  cursor: pointer;
}
</style>
