<template>
  <div class="page-container flex">
    <md-app>
      <md-app-toolbar class="md-primary" md-elevation="0">
        <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-title">Ecofleet trial</span>
      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible" md-persistent="mini">
        <md-toolbar class="md-transparent" md-elevation="0">
          <span>Navigation</span>

          <div class="md-toolbar-section-end">
            <md-button class="md-icon-button md-dense" @click="toggleMenu">
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-list>
          <md-list-item @click="$router.push('/')">
            <md-icon>filter_1</md-icon>
            <span class="md-list-item-text">Task 1</span>
          </md-list-item>

          <md-list-item @click="$router.push('/2')">
            <md-icon>filter_2</md-icon>
            <span class="md-list-item-text">Task 2</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <router-view />
      </md-app-content>
    </md-app>
  </div>
</template>

<script>

import Vue from 'vue'
import Router from 'vue-router'
import One from './components/One'
import Two from './components/Two'
import Http404 from './components/Http404'
import VueMaterial from 'vue-material'
import 'vue-material/dist/vue-material.min.css'
import 'vue-material/dist/theme/default.css'

// set Vue to use Router
Vue.use(Router)

// use material components
Vue.use(VueMaterial)

/**
 * App component
 */
export default {
  name: 'App',
  data: () => ({
    menuVisible: false
  }),
  methods: {
    // menu toggle
    toggleMenu () {
      this.menuVisible = !this.menuVisible
    }
  },
  // router
  router: new Router({
    mode: 'history',
    routes: [
      {
        path: '/',
        name: 'one',
        component: One
      },
      {
        path: '/2',
        name: 'two',
        component: Two
      },
      {
        path: '*',
        name: '404',
        component: Http404
      }
    ]
  })
}

</script>

<style scoped>
  .md-app-content {
    padding: 0;
  }
</style>
